
body {
    font-family: arial;
}

.skibidi {
    width: 40px;
    height: 40px;
    justify-items: center;
}

.navbar {
    overflow: hidden;
    background-color: orange;
    display: flex;
    flex-wrap: wrap;
  }
  
.navbar a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

.gambar1 {
    float: right;
    height: 350px;
    margin: 10px;
    padding: 10px;
    border-radius: 20%;
}

.arttext{
    text-align: center;
}

.gambar01{
    width: 350px;
}

.gambar02{
    width: 350px;
}

.gambar03{
    width: 350px;
}

.gambar04{
    width: 350px;
}

.profile {
    text-align: center;
    font-size: 50px;
}

.text {
    font-size: 20px;
    text-align: center;
    text-decoration: none;
}

.list {
    font-size: 25px;
}

.sigma {
    background-color: rgb(255, 255, 255);
    height: 50px;
    color: rgb(255, 255, 255);
}

.sigma1 {
    background-color: orange;
    height: 50px;
    color: orange;
}


@media (max-width: 440px) {
    .gambar1 {
        margin-right: 50px;
    }

    .text {
        text-align: justify;
    }

    .gambar01{
        
        height: auto;
    }
    
    .gambar02{
        width: 350px;
    }
    
    .gambar03{
        width: 350px;
    }
    
    .gambar04{
        width: 350px;
    }
}

@media (max-width: 1025px) {

    .profile{
        font-size: 40px;
    }

    .text{
        text-align: left;
    }

    .gambar1{
        margin-top: 70px;
    }

    .gambar01{
        width: 400px;
        margin-left: 105px; 
    }

    .gambar02{
        width: 400px;
    }
    
    .gambar03{
        width: 400px;
        margin-left: 105px;
    }
    
    .gambar04{
        width: 400px;
    }
}

